*{
    margin: 0;
    padding: 0;
   
}
body{
    font-family: "Open Sans", sans-serif; 

}
/*()()()()()()()()()()()(NAV)()()()()()()()()()()()()()()*/
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 16px;
    left: -100%;
    transition: all .5s;
    list-style: none; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
}
nav li{
    margin: 30px;
    transition: 0.6s;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(92, 27, 27, 0.5);
    text-transform: uppercase;
}
nav ul{
    all:unset;
    list-style: none;
    display: flex;
    
}
nav li{
    margin-bottom: 0;
    margin-right: 16px;

}
nav a {
    font-size: 20px;
}



.toggler:checked ~ nav ul{
left: 0;

}


/*()()()()()()()()()()()(NAV)()()()()()()()()()()()()()()*/

section
{
    width: 100%;
    height: 80vh;
     background-image: url(img/fondo.jpg);
     background-size: cover;
     background-position: center;
    
}
.title
{
    font-size: 5em;
    text-align: center;
    padding: 20px;
}

.devil table
{
    width: auto;
    margin: 0 auto;
}
.devil table th
{
    width: 200px;
    font-size: 15px;
}
.devil table th, td {
    padding: 16px;
    border-bottom: 1px solid #ddd;
  }


.ds-horarios table
{
    width: auto;
    margin: 0 auto;
}
.ds-horarios table th
{
font-size: 20px;
width: 30px;
}



.inv
{
    background: #eccc17a9;  
    width: 100%;
    height: 100vh;
}
.inv table
{
    width: auto;
    margin: 0 auto;
}
.inv table th
{
    font-size: 26px;
    width: 150px;
}


.wave
{
   
    bottom: 0;
    left: 0;
 
}

.img-ex
{
    width: 150px;
    display: block;
    margin: auto;
    padding: 20px;
}

footer
{
    background: black;
    color: #ffffff;
    font-size: 15px;
    height: 50vh;
    text-align: center;
}

footer h1
{
    padding: 60px;
}

hr.new1
{
    
  height: 10px;
  background-color: rgb(20, 20, 19);
  margin: 20px;
}



.dragon
{
    background: brown;
    height: 80vh;
}